
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section scripts{
    <!-- Morris Charts JavaScript -->
    <script src="~/Content/Content/js/jquery.js"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>*@
    <script src="~/Content/Content/js/plugins/morris/raphael.min.js"></script>
    <script src="~/Content/Content/js/plugins/morris/morris.min.js"></script>
    <script src="~/Content/Content/js/plugins/morris/morris-data.js"></script>
}


<div style="background-color:chartreuse">
    <h2 style="padding:300px;color:Blue">Welcome to Admin Panel</h2>
</div>


