
@{ ViewBag.Title = "Login"; }

<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <h4>Login</h4>

                                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                {
                            <label for="">Username or Email address<span>*</span></label>
                                            <input name="UserName" type="text" required placeholder="Username">
                                                            <label for="">Password<span>*</span></label>
                                                                            <input name="Password" type="password" required placeholder="Password">
                                                                                            <button type="submit" class="aa-browse-btn">Login</button>
                                                                                            <label class="rememberme" for="rememberme">Don't have an account?</label>
                                                                                                            <p><h5><a href="@Url.Action("Register", "Register")"> Register now</a></h5></p>}

                                                                                                                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
